Teme za danas:

- alocirati Sinkea na DMF LMS

- planiranje posla za DMF LMS

- kad su sprint planinzi

- upgrade Heroku Postgres baze na standard-0, tko ce to raditi?

- di zivi Sitemark? treba to `dokumentirati



weekly todo:
- https://github.com/VeryBigThings/aws-auth/pull/2